.navbar{
  margin: 0;
}
.page {
  padding: 20px;
  
}

.page-title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.items {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 20px;
  justify-items: center;
}


.product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  margin: 0;
  font-weight: bold;
  color: #333;
}

.card button {
  margin-top: 10px;
  background-color: #ff4b2b;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.card button:hover {
  background-color: #ff2e00;
}
